{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <br>
    <h2 class="centered">
        Login
    </h2>
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary custom-button" id="mediumbutton" type="submit">Log In</button>
    </form>
    {% if error %}
    &nbsp;
    <div class="centered" id="error">
        {{ error }}
    </div>
    {% endif %}
{% endblock %}
